<div class="container">
    @* This Row Will Show Total Views *@
    <div class="row">
        <div class="col-3">Total Views:</div>
        <div class="col-4">
            <span id="totalViewsCounter"></span>
        </div>
    </div>

    @* This Row Will Show Total Users *@
    <div class="row">
        <div class="col-3">Total Users:</div>
        <div class="col-4">
            <span id="totalUsersCounter"></span>
        </div>
    </div>
</div>

@* This Script Tag will Add Client Side Library Of SignalR Inside Our Index View *@
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

@* Registering UserCount JS file *@
<script src="~/js/userCount.js"></script>